$checkbox-color: #5cbfc2;

.checkbox label{
    padding-left: 0;
}

.checkbox label:after{
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr{
    position: relative;
    color: $checkbox-color;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    margin-right: .5em;

    .cr-icon{
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
    }
}

.checkbox label input[type="checkbox"]{
    display: none;
    // margin-left:0;

    & + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
    }
    &:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
    }
    &:disabled + .cr {
    opacity: .5;
    }

}

// .checkbox label input[type="checkbox"] + .cr > .cr-icon {
//     transform: scale(3) rotateZ(-20deg);
//     opacity: 0;
//     transition: all .3s ease-in;
// }

// .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon {
//     transform: scale(1) rotateZ(0deg);
//     opacity: 1;
// }

// .checkbox label input[type="checkbox"]:disabled + .cr {
//     opacity: .5;
// }